<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: Harry P;
    font-size: 35px;
}

body {
    background-image: url("imagenes/Estrellas.png");
    font-family: Harry P;
}

a {
    text-decoration: none;
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 40px;
    font-weight: 500;
    font-family: Harry P;
}

.contenedor {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

header {
    background: #242633;
    width: 100%;
    overflow: hidden;
    /* es importante ya que le vamos a poner unos float para desplasar de izquierda a derecha algunos elementos */
    margin-bottom: 0px;
}

header.logo {
    image-orientation: center;
    margin: 40px;
    justify-content: space-between;
    align-items: center;
}

header div {
    width: 100;
    display: flex;
    justify-content: center;
    margin: 20px;
}

header a.activo {
    width: 100;
    display: flex;
    justify-content: center;
    margin: 20px;
}

header .barra-busqueda {
    width: 50%;
    height: 30px;
    line-height: 40px;
    background-color: blanchedalmond;
    padding: 0 20px;
    border-radius: 1000px;
    border: none;
    text-align: center;
    font-size: 16;
    justify-content: space-between;
    align-items: center;
    box-sizing: Harry P;
}

header.categorias {
    display: flex;
    justify-content: center;
    background-color: #10141B;
}

header.categorias a.activo {
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 50px;
    font-weight: 700;
    font-family: Harry P;
}

.nombre_harry {
    display: flex;
    justify-content: right;
    image-orientation: right;
    margin: 0px;
    justify-content: right;
    align-items: right;
    width: 25%;
}

.entra_castillo {
    display: flex;
    justify-content: left;
    image-orientation: left;
    margin: 0px;
    justify-content: space-between;
    align-items: left;
    width: 35%;
}

p {
    box-sizing: Harry P;
    font-size: 45px;
    color: #9b9b9b;
}
=======
*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
    width:90%;
    max-width: 850px;
    margin:flex;
    overflow:hidden;
    margin: 0; auto;
}
body {
    background-image: url(../imagenes/Adentro.png);
    }


header{
    background: #242633; 
    width:100%; */
    overflow: hidden; /* es importante ya que le vamos a poner unos float para desplasar de izquierda a derecha algunos elementos */
    margin-bottom: 20px;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 10em 4em 10em 4em;
    width: 115px;
    max-width: 114px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #10141B;
}

.wrapper {
    width:90%;
    max-width: 1000px;
    margin:flex;
    overflow:hidden;
}

header nav a {
    padding: 16px 12px;
    color: #f2f2ff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition border: .3s ease;

}

header nav a:hover{
    color:#D4AF37;

}

header nav a.active{
    color: aquamarine;
}

.header2{
    position: fixed;
    height: 20%;
}

.header2 .logo {
    line-height: 20%;
    font-size: 25%;
}
.header2 nav {
    line-height:100%;
}
>>>>>>> fc3b58e9288429ef2b86c37c3b5041d167dc8815
