    /* * {
        margin: 0;
        padding: 0;
    }
    
    header {
        width: 100%;
        overflow: #252932;
        margin-bottom: 20px;
    }
    
    .whapper {
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    } */